# java
java/junit-tests-bank-system/bin/

# node
node/jwt-authentication/node_modules/
node/web-push-notification/node_modules/
node/socket-notifications/node_modules/
node/2fa-authenticatior/node_modules/
node/basic-graphql/node_modules/

# react
react/animated-logo/node_modules/

#typescript
typescript/julius-api/
typescript/julius-api/pgdata/

#c#
c#/EFCore.WebAPI/EFCore.WebAPI/bin/
c#/EFCore.WebAPI/EFCore.WebAPI/obj/
c#/EFCore/EFCore.Legado/bin/
c#/EFCore/EFCore.Legado/obj/
c#/ExampleApiGateway/ApiGateway/bin/
c#/ExampleApiGateway/ApiGateway/obj/
c#/ExampleApiGateway/ApiServiceOne/bin/
c#/ExampleApiGateway/ApiServiceOne/obj/
c#/ExampleApiGateway/ApiServiceTwo/bin/
c#/ExampleApiGateway/ApiServiceTwo/obj/




# all
all/graphql-book-service/server/node_modules